.App {
  text-align: center;
  display: flex;
  margin: 100px;
}

.imageDiv {
  margin-left: 100px;
}

.priceDiv {
  text-align: center;
}

.currencyClass {
  position: relative;
  width: 110px;
  left: 20px;
}